body{
    background-color: RED;

}

img{
    width: 100px;

}

h2{
    color: aqua;
}
p{
    text-align: center;
    color: purple;
   text-decoration: line-through;
    }

p3{
font-family: 'Roboto', sans-serif;
}

    ul{
        color: brown;
    }
li{
    color: orange;
}

table{
    color: hotpink;
}

i{
    color: green;
}

b{
    color: green;
}

u{
    color: green;
}

#Reese{
    background-color: blue;
    font-family: 'Roboto', sans-serif;
}
.food{
    background-color: white;
}






