body{
    color:black;
    margin: 10px;
    background-image: url(https://akns-images.eonline.com/eol_images/Entire_Site/201865/rs_600x600-180705083521-stephcurrymatchingpjs-.jpg?fit=inside|900:650&output-quality=90)
}

h1{
    margin-left: 20px;
    margin: center;
    padding: 25px;
    position: relative;
    border-style: double;
    border-color: red;

}

h2{
    margin: 25px;
}

h3{
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 50px;
}

p{
    border:4px red dotted;
    padding-top: 30px;
}

p2{
    border: 10px green solid;
}

p4{
    position: relative;
    top: 100px;
    left: 50px;
}

#Currywife{
    height: 100px;
    position: relative;
    left: 20px;
}

.Currykids{
    width: 50%;
}

#CurryRings{
width: 200px;
border: 25px solid purple;
padding: 25px;
}

img{
    width: 300px;
    height: 300px;
}


